@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700');

body {
    font-family: 'Merriweather', serif;
    position: relative;
}

.navbar {
    padding: 8px;
}

.navbar-header > .navbar-brand {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    color: white;
    float: left;
}

.nav > li {
    font-size: 20px;
    margin-left: 300px;
    margin-right: -300px;
}

.carousel-inner > .item > img{
    width: 100%;
    height: 950px;
    opacity: 0.82;
}

.carousel-caption > h1 {
    margin-top: -100px;
}

.carousel-caption > h1 > strong {
    color: saddlebrown;
    font-style: italic;
}

.menu1 {
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
}

.menu2 {
    text-align: center;
    padding-top: -15px;
}

.row {
    margin-left: 1px;
    margin-right: 1px;
}

.col-lg-4 {
    text-align: center;
    padding: 30px;
}

.parallax1 {
    margin-top: 20px;
    height: 400px;
    
} 

.freeMenu > h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.freeMenu {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.dairyMenu > h2 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.dairyMenu {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.parallax2 {
    margin-top: 20px;
    height: 500px;
    
} 

.coffeeList {
    margin-top: 130px;
    padding: 40px;
}

.cmargin{
    text-align: center;
    padding: 20px;
    margin-top: 220px;
}
.coffeeList{
    text-align: center;
    padding: 20px;
}

.team > h1 {
    text-align: center;
    padding: 20px;
}

.col-lg-3 {
    text-align: center;
    padding: 30px;
}

.col-lg-3 > h4 {
    font-size: 25px;
    text-align: center;
}

.col-lg-3 > h5 {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

.parallax3 {
    margin-top: 20px;
    height: 450px;
    
}

.contact > h1 {
    text-align: center;
    padding: 20px;
}

.contact > .row > .col-lg-8 {
    text-align: center;
    padding: 40px;
    margin-top: 20px;
} 

.contact > .row > .col-lg-8 > h2 {
    font-size: 40px;
} 

.contact > .row > .col-lg-8 > h5 {
    font-size: 30px;
    text-align: center;
}


.parallax4 {
    height: 300px;
}

hr {
    width: 60%;
    padding: 20px;
}

.footer > h4 {
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 25px;
    margin-top: 0px;
}

.footer > .follow > ul  li {
    display: inline;
    font-size: 70px;
    margin: 30px;
}

.footer > .follow > ul .facebook :visited {
    color: black;
}

.footer > .follow > ul .twitter :visited {
    color: black;
}

.footer > .follow > ul .github :visited {
    color: black;
}

.footer > .follow > ul .facebook :hover {
    color: #3c5a99;  
}

.footer > .follow > ul .twitter :hover {
    color: #1da1f2;
}

.footer > .follow > ul .github :hover {
    color: #24292e;
}

.footer > .follow {
    margin-top: -160px;
    text-align: center;
}

@media screen and (max-width: 850px) {
    
    .carousel-inner > .item > img{
        width: 100%;
        height: 500px;
    }
    
    .contact > .row > .col-lg-4 > img {
        width: 340px;
        height: 200px;
    }
    
    .carousel-caption > h1 {
        margin: 10px;
        font-size: 18px;
    }
    
    .footer > .follow > ul  li {
        display: inline;
        font-size: 55px;
        margin: 30px;
    }
    
    .footer > h4 {
        padding: 5px;
        text-align: center;
        color: black;
        font-size: 15px;
        margin-top: 0px;
    }
    
}
 
